################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/nkust1023/.vs/nkust1023/v15
/nkust1023/nkust1023/data
